<%= form_with model: [:admin, @feature] do |f| %>
  <% if @feature.errors.any? %>
    <div>
      <% @feature.errors.full_messages.each do |msg| %>
        <p style="color: red">
          <%= msg %>
        </p>
      <% end %>
    </div>
  <% end %>   
   
  <div>
    <%= f.label :key %>
    <br>
    <%= f.text_field :key %>
  </div>  

  <div>
    <%= f.label :default_enabled %>
    <%= f.check_box :default_enabled %>
  </div>
  
  <br>

  <div>
    <%= f.submit "Update Feature" %>
  </div>  
  
<% end %>